server:
  port: 8081

spring:
  application:
    name: SERVICE-CLIENT

  datasource:
    url: jdbc:postgresql://localhost:5432/clientservicedb
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
